@import "tailwindcss";

@font-face {
  font-family: 'YourFont';
  src: url('/fonts/PTSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-size: larger;
}

.fo {
  font-family: 'YourFont', sans-serif;
}

